/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html {
    background: black;
}

body {
    background: black;
    overflow-x: hidden;
    overscroll-behavior: none;
}

/* body {
  background: lime !important;
} */

